.security-banner {
    background-image: url("https://i.postimg.cc/Prchvrnj/Rectangle-117.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}