.review-banner {
    background-image: url("https://i.postimg.cc/C19cD3Pc/Rectangle-62.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}